@model Product

@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Product Name";
}
Product Name: @Model.Name

<!--<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width-devise-width" />
    <title>Index</title>
</head>
<body>-->
    @*Получение свойства Name модели Product*@
    <!--@Model.Name 
</body>
</html>-->
